.clear {
    @extend .create-item;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    font-size: 0.8rem;
    color: $font-light;
    position: relative;

    &__filters {
        @extend .create-item;
        justify-content: center;
        position: absolute;
        top: 50px; 
        left: 0;
        width: 100%;
       
    }

    &__button,
    &__filter {
        color: $font-light;
        background: none;
        border: none;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    &__filter {
        font-size: 1rem;
        padding: 0 0.5rem;

        &--active {
            color: $active;
        }
    }
}

@include media ($desktop-view) {
    .clear {
        font-size: 1rem;
        
        &__filters {
            margin: 0;
            padding: 0;
            position: relative;
            top: 0;
            width: auto;
            height: auto;
        }
    }
}