.loading {
    padding: 2rem;
    margin: 0 auto;
    width: 200px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgba(black, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;

    &--hide {
        display: none;
    }

    &__img {
        width: 50px;

        &--animate {
            animation: rotate 1s infinite;
            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }

    &__text {
        margin-top: 2rem;
        text-align: center;
    }
}