.clear {
    @extend .create-item;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    font-size: 0.8rem;
    color: $font-light;

    &__desktop-filters {
        display: none;
    }

    &__button {
        color: $font-light;

        &:hover {
            color: white;
        }
    }
}

@include media ($desktop-view) {
    .clear {
        font-size: 1rem;
        
        &__desktop-filters {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__desktop-filter {
            padding: 0.5rem;
            color: $font-light;
            font-size: 1rem;

            &--active {
                color: $active;
            }

            &:hover {
                color: white;
            }
        }        
    }
}