.list-items {
    margin-top: 20px;

    &__item {
        @extend .create-item;
        margin-top: 0;
        border-radius: 0;
        border-bottom: 1px solid $font-light;

        &:first-child {
            border-radius: 5px 5px 0 0;
        }

        &:hover {
            .list-items__close {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    &__checkbox-label {
        display: block;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__checkbox {
        visibility: hidden;

        &:checked ~ .list-items__status--checked {
            background-image: url(../images/icon-check.svg), linear-gradient(130deg,hsl(192, 100%, 67%),$active);
            background-position: center;
            background-size: auto, 30px 30px;
            background-repeat: no-repeat; 
        }

        &:checked ~ .list-items__description--done {
            text-decoration: line-through;
            color: $font-light;           
        }
    }

    &__status {
        @extend .create-item__status; 
        position: absolute;

        &:hover {
            border-color: $active;
        }

    }

    &__description {
        margin: 3px 0 0 20px;
        font-size: 0.75rem;
        flex-grow: 1;
        justify-self: flex-start;  
        
        @include media ($desktop-view) {
            font-size: 1rem;
        }
    }

    &__close {
        opacity: 0;

    }
}