.mobile-filters {
    @extend .create-item;
    justify-content: center;

    &__filter {
        color: $font-light;
        padding: 0 0.5rem;

        &--active {
            color: $active;
        }

        &:hover {
            color: white;
        }
    }
}    
@include media ($desktop-view) {
    .mobile-filters {
        display: none;
    }
}